.gvp__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .gvp__body {
        position: relative;
        width: 60%;
        height: 90%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        border-radius: 12px;
        border: 1px solid var(--shot-color);
        background-color: #404248;
        animation: shadowMove 10s infinite alternate;
        user-select: text;

        @keyframes shadowMove {
            0% {
                box-shadow: 0 0 70px -50px var(--shot-color);
            }
            100% {
                box-shadow: 0 0 150px -50px var(--shot-color);
            }
        }

        .gvp__image {
            max-height: 400px;
            overflow: hidden;
            user-select: none;

            .gvp__blurred-image {
                position: absolute;
                // display: block;
                width: 100%;
                height: 400px;
                // background: var(--shot-url) no-repeat;
                // background-size: cover;
                // object-fit: cover;
                // z-index: 10;
                border-radius: 12px;
                overflow: hidden;

                img {
                    position: relative;
                    width: 100%;
                    // height: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    filter: blur(10px) brightness(0.75);
                }
            }

            img {
                position: relative;
                border-radius: 12px;
                width: 100%;
                max-height: 400px;
                object-fit: contain;
                z-index: 1;

                &.gvp__image--blacklisted {
                    transform: scale(1.1);
                }
            }
        }

        .gvp__guesses {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            // height: calc(100% - 400px);
            border-radius: 0 0 12px 12px;

            .gvp__guesses__list {
                padding-bottom: 1rem;

                .gvp__guesses__item {
                    padding: .5rem 1rem;
                    padding-bottom: 0;
                    display: flex;
                    gap: .75rem;

                    &.message__only {
                        padding-top: 0;
                    }

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 100%;
                        user-select: none;
                    }

                    div {
                        line-height: 16px;
                    }

                    .gvp__guesses__item__name {
                        font-weight: 600;
                    }

                    .gvp__guesses__item__message {
                        padding-top: .25rem;
                    }

                    .gvp__guesses__item__only__message {
                        padding-left: 3.25rem;
                        padding-top: 0;
                        padding-bottom: .25rem;
                    }
                }
            }

            .gvp__guesses__separator {
                margin: 0 1rem;
                height: 1px;
                background-color: var(--shot-color);
            }

            .gvp__guesses__input {
                position: relative;
                display: flex;
                width: 100%;
                height: 50px;

                input {
                    width: 100%;
                    // height: 100%;
                    border: none;
                    // background-color: var(--shot-color);
                    background-color: #404248;
                    color: white;
                    font-size: 1.5rem;
                    border-radius: 0 0 12px 12px;
                    padding-left: 1rem;
                    outline: none;
                }

                .gvp__guesses__autocomplete {
                    width: 100%;
                    position: absolute;
                    bottom: 50px;
                    background-color: #2b2d31;
                    border-radius: 12px 12px 0 0;
                    overflow: hidden;
                    z-index: 1;

                    .gvp__guesses__autocomplete__item {
                        padding: 0.5rem 1rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        cursor: pointer;
                        border-bottom: 1px solid #35373c;

                        &:hover, &.hasFocus {
                            background-color: #35373c;
                        }

                        &:last-child {
                            border: none;
                        }

                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 100%;
                        }
                    }
                }
            }

            .gvp__guesses__sendIcon {
                width: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #585a5f;

                &.active {
                    transition: color 0.2s ease-in-out;
                    color: var(--shot-color);
                    cursor: pointer;
                }

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}