.gvp__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .gvp__body {
        position: relative;
        width: 60%;
        height: 90%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        border-radius: 12px;
        border: 1px solid var(--shot-color);
        background-color: #40444A;

        .gvp__image {
            max-height: 400px;
            overflow: hidden;
            .gvp__blurred-image {
                position: absolute;
                // display: block;
                width: 100%;
                height: 400px;
                // background: var(--shot-url) no-repeat;
                // background-size: cover;
                // object-fit: cover;
                // z-index: 10;
                border-radius: 12px;
                overflow: hidden;

                img {
                    position: relative;
                    width: 100%;
                    // height: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    filter: blur(10px) brightness(0.5);
                }
            }

            img {
                position: relative;
                border-radius: 12px;
                width: 100%;
                max-height: 400px;
                object-fit: contain;
                z-index: 1;

                &.gvp__image--blacklisted {
                    transform: scale(1.1);
                }
            }
        }
    }
}