.voice__channel__container {
  position: absolute;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  /* margin: 2rem; */
}

.voice__channel__container::-webkit-scrollbar {
  width: .5rem;
  background-color: transparent;
}

.voice__channel__container::-webkit-scrollbar-thumb {
  background-color: #404248;
  border-radius: 5px;
}