.voice__channel__container {
  position: absolute;
  max-height: 100vh;
  max-width: 10rem;
  overflow: auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  text-align: center;
}

.voice__channel__container::-webkit-scrollbar {
  width: .5rem;
  background-color: transparent;
}

.voice__channel__container::-webkit-scrollbar-thumb {
  background-color: #404248;
  border-radius: 5px;
}